@model ATM.Models.CheckingAccount
@{
    ViewBag.Title = "Account Details";
}

<div>
    <h4>Account details for @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Account Number
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
        <dt>
            Balance
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Balance)
        </dd>

    </dl>
</div>
@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
